<div class="px-4 md:px-6" style="background-color: #006cac;">
    <div class="text-2xl py-4 text-white font-bold mb-2 text-center">Dúvidas Frequentes</div>
    <div class="text-white line-height-3 mb-6 text-center">Antes de entrar em contato com o suporte, diante de algum problema técnico, leia as dúvidas frequentes das nossas FAQ's. É possível que o seu caso já tenha uma solução 😉</div>
    <p-accordion styleClass="mb-6" [activeIndex]="0">
        <p-accordionTab header="Minha internet está lenta. O que eu faço?">
            <div class="line-height-3">Se a sua conexão apresentar lentidão, ou você estiver enfrentando alguma dificuldade de navegação, verifique em qual rede está conectada: 2.4G ou 5G. Assista este <a href="https://www.instagram.com/reel/CsbToVWpOZv/?next=%2Fchipnews%2F" target="_blank">vídeo</a> para entender melhor como funciona. Se o problema persistir, entre em contato com o suporte técnico.</div>
        </p-accordionTab>
        <p-accordionTab header="Como ocorre o bloqueio da internet?">
            <div class="line-height-3">Ao tornar-se um cliente Chip News, um cadastro é realizado e você define uma data de vencimento para o pagamento do serviço. Sua conexão será bloqueada após o décimo quinto dia posterior à essa data. Sempre priorize o pagamento até a data de vencimento, pois, além de garantir descontos na mensalidade, você evita a suspensão do serviço.</div>
        </p-accordionTab>
        <p-accordionTab header="Como obter a segunda via do boleto?">
            <div class="line-height-3">Aqui no nosso site, no menu superior, acesse a opção Central do Cliente; você será redirecionado(a) para uma área de acesso restrito. Informe no usuário seu CPF (ou CNPJ se for um cliente Pessoa Jurídica) e na senha os 6 primeiros dígitos do CPF ou CNPJ, na opção 2ª Via do Boleto, poderá imprimir a fatura atualizada ou pagar via PIX. Veja mais em <a href="https://www.instagram.com/reel/CrgDis4g-X/?next=%2Fchipnews%2F" target="_blank">este vídeo</a>.</div>
        </p-accordionTab>
        <p-accordionTab header="Posso alterar a senha do roteador?">
            <div class="line-height-3">Sim, é perfeitamente possível. Você terá que entrar em contato com o nosso suporte e solicitar, tudo remotamente.</div>
        </p-accordionTab>
        <p-accordionTab header="É possível que alguém descubra a senha do Wi-Fi Plus?">
            <div class="line-height-3">Não, nossa ONT é totalmente blindada e desabilitamos a função WPS para que nenhum aplicativo consiga invadir.</div>
        </p-accordionTab>
        <p-accordionTab header="Existe algum contrato de tempo mínimo?">
            <div class="line-height-3">Sim. Caso o cliente opte por algum benefício concedido pela Chip News - tais como desconto na taxa de instalação e/ou mensalidade, equipamento em comodato, dentre outros - deverá cumprir um contrato com prazo mínimo de 12 meses. Caso o cliente não seja beneficiário de nenhuma dessas vantagens, seu contrato de adesão não tem um prazo de fidelidade definido.</div>
        </p-accordionTab>
        <p-accordionTab header="Como contribuir para a longevidade dos equipamentos?">
            <div class="line-height-3">Preferencialmente, utilize filtros de linha ou estabilizadores entre a tomada e os equipamentos de internet; eles protegem contra oscilações graves de corrente, dentre outras interferências que podem danificar ou diminuir a eficiência da sua conexão. Ao realizar viagens longas, ou durante tempestades com raios, desconecte os equipamentos da rede elétrica, o equipamento em comodato é de total responsabilidade do cliente de bom uso.</div>
        </p-accordionTab>
        <p-accordionTab header="O que é 'comodato'?">
            <div class="line-height-3">Comodato é a cessão ao cliente, por parte da prestadora do serviço (Chip News), dos equipamentos necessários para a transmissão de internet em forma de empréstimo durante toda a vigência do contrato de adesão. Quando o cliente cancelar o serviço, deverá devolver o(s) equipamento(s), observando o mesmo grau de integridade com que os recebeu (em pleno funcionamento).</div>
        </p-accordionTab>
        <p-accordionTab header="O que é 'fibra ótica'?">
            <div class="line-height-3">A fibra óptica é, literalmente, um “fio” de vidro, cuja espessura é menor que a de um fio de cabelo. Através da fibra óptica o sinal trafega em forma de luz (laser), cuja velocidade de propagação é muitíssimo mais alta, o que garante uma transmissão com alta qualidade e estabilidade (pois a luz é totalmente imune a interferências).</div>
        </p-accordionTab>
        <p-accordionTab header="Como controlar o Wi-Fi da sua casa?">
            <div class="line-height-3">Você sabia que a Chip News disponibiliza um aplicativo onde o cliente tem total liberdade de controlar o acesso do Wi-Fi da sua casa, de qualquer lugar, bloqueando aparelhos indesejáveis, trocando a senha e muito mais.</div>
        </p-accordionTab>
    </p-accordion>
</div>
