<div class="px-4 py-8 md:px-6 lg:px-8" style="background-color: #006cac; color: white;">
    <div class="grid">
        <div class="col-12 md:col-6">
            <img src="assets/img/mascote-1.png" alt="Internet de Fibra Óptica" class="w-full featureImg">
        </div>
        <div class="col-12 md:col-6 md:pl-6">
            <div class="p-3 inline-flex align-items-center surface-dark bg-primary text-white mb-4 font-medium" style="border-radius: 30px">
                <i class="pi pi-bolt mr-2"></i>
                <span>Conexão de Alta Velocidade</span>
            </div>
            <div class="text-4xl font-bold mb-3">Velocidade e Estabilidade</div>
            <div class="text-lg mb-5 line-height-3">Experimente a internet de fibra óptica mais rápida e confiável, com velocidades incríveis e uma conexão estável que redefine as possibilidades.</div>
        
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-yellow-300 mr-3"></i>
                <div>
                    <div class="font-medium mb-2">Instalação Rápida</div>
                    <div>Agendamento e instalação no mesmo dia para que você não fique esperando.</div>
                </div>
            </div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-yellow-300 mr-3"></i>
                <div>
                    <div class="font-medium mb-2">Suporte 24/7</div>
                    <div>Atendimento ao cliente sempre disponível para resolver qualquer questão rapidamente.</div>
                </div>
            </div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-yellow-300 mr-3"></i>
                <div>
                    <div class="font-medium mb-2">Preços Competitivos</div>
                    <div>Planos acessíveis com a melhor relação custo-benefício do mercado.</div>
                </div>
            </div>
            <div class="flex align-items-center">
                <i class="pi pi-check text-yellow-300 mr-3"></i>
                <div>
                    <div class="font-medium mb-2">Cobertura Ampliada</div>
                    <div>Cobrindo áreas urbanas e rurais para garantir que você esteja sempre conectado.</div>
                </div>
            </div>
        </div>
    </div>
</div>
