<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="p-6 shadow-2 flex flex-column md:flex-row align-items-center justify-content-between" style="border-radius: 1rem; background: linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%)">
        <div class="pr-6">
            <div class="text-blue-100 font-medium text-xl mb-3">DESCUBRA A FIBRA ÓPTICA</div>
            <div class="text-white font-medium text-5xl">Transforme sua experiência online</div>
        </div>
        <div class="mt-4 mr-auto md:mt-0 md:mr-0">
            <button pButton  class="font-bold px-5 py-3 bg-blue-500 text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-50 rounded-full p-button-warning p-button-raised white-space-nowrap">Assine Já</button>
        </div>
    </div>
</div>
