<div class="px-4 md:px-6 lg:px-8 border-1 surface-border border-x-none" style="background-color: #1d4261;">
    <div class="grid flex-wrap -mr-3 -ml-3 md:text-left">
        <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border">
            <span class="text-white text-xl block">Chip News Provedor de Internet</span>
            <ul class="list-none p-0">
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Home</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Serviços</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Sobre</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Planos</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Informações</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Blog</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Franquias</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Contato</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Central do Cliente</a></li>
            </ul>
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border">
            <span class="text-white text-xl block">Documentos e Suporte</span>
            <ul class="list-none p-0">
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Contrato de prestação de SCM</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Contrato de permanência</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Contrato de Comodato</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Vagas disponíveis</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Área do cliente</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Teste de Velocidade</a></li>
            </ul>
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border">
            <span class="text-white text-xl block">Siga-nos</span>
            <ul class="list-none p-0">
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Facebook</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Instagram</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Telegram</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">YouTube</a></li>
                <li><a tabindex="0" class="text-white hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Tiktok</a></li>
            </ul>
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 mb-4 lg:mb-0">
            <span class="text-white text-xl block">Endereço</span>
            <span class="text-white block mt-3">C. Comercial Cachoeirinha, LJ 36 Est. da Cachoeirinha, 1601, Cabula VI, Salvador - BA - CEP: 41.181-057</span>
        </div>
    </div>
</div>