
<div class="min-h-screen flex flex-column">
  <div class="bg-wh py-3 px-5 flex align-items-center justify-content-between relative lg:static" style="min-height: 80px">
      <img src="assets/img/logo.svg" alt="logo" height="40" class="mr-0 lg:mr-6">
      <a pRipple class="cursor-pointer block lg:hidden text-indigo-50" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
          <i class="pi pi-bars text-4xl"></i>
      </a>
      <div class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full bg-white left-0 top-100 z-1 shadow-2 lg:shadow-none">
          <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">
              <li (click)="goToTop()">
                  <a pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center chipcolor hover:text-indigo-50 hover:bg-yellow-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                      <span>Home</span>
                  </a>
              </li>
              <li (click)="goToSection('planos')">
                  <a pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center chipcolor hover:text-indigo-50 hover:bg-yellow-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
                      pStyleClass="@next" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden" leaveActiveClass="fadeout" [hideOnOutsideClick]="true">
                      <span>Planos</span>
                  </a>
              </li>
              <li>
                  <a pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center chipcolor hover:text-indigo-50 hover:bg-indigo-600 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                      <span>Calendar</span>
                  </a>
              </li>
              <li>
                  <a pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center chipcolor hover:text-indigo-50 hover:bg-indigo-600 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                      <span>Stats</span>
                  </a>
              </li>
          </ul>
          <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row border-top-1 border-indigo-400 lg:border-top-none">
              <li>
                <p-button label="Central do Cliente" (onClick)="centralDoCliente()" class="p-button-outlined p-button-rounded p-button-sm p-button-text p-button-plain p-button-secondary"></p-button>
              </li>
          </ul>
      </div>
  </div>
  <div class="flex flex-column flex-auto">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>