<div class="bg-indigo-600 px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-column lg:flex-row">
        <div class="w-full lg:w-6 p-6 bg-indigo-500 mr-0 lg:mr-3 mb-5 lg:mb-0" style="border-radius: 12px">
            <iframe src="https://www.youtube.com/embed/VApx-MfNylY" title="PLANO DE 4GB + 5GB DE PORTABILIDADE TOTALIZANDO 9GB AGORA É FALE ILIMITADO TAMBÉM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="w-full lg:w-6 p-6 bg-indigo-500 ml-0 lg:ml-3" style="border-radius: 12px">
            <iframe src="https://www.youtube.com/embed/DE7SuKVLXIA" title="SVA CHIP NEWS MOVEL - RENTABILIZE COM SUA CARTEIRA DE CLIENTES" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>